<%- include('header'); -%>
    <div class="container mx-auto">
        <h2>Manage Users</h2>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < users.length; i++){ %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= users[i].firstName %>
                        </td>
                        <td>
                            <%= users[i].lastName %>
                        </td>
                        <td>
                            <%= users[i].email %>
                        </td>
                        <td>
                            <%= users[i].type %>
                        </td>
                        <td>
                            <a href="/update/<%= users[i].id %>" class="btn btn-outline-primary">Update Privileges</a>
                        </td>
                        <td>
                            <form action="/remove/user/<%= users[i].id %>" method="post">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>

        <a href="/create" class="btn btn-primary">Create New User</a>
        <a href="/logout" class="btn btn-outline-danger">Logout</a>
    </div>


    <%- include('footer'); -%>