<%- include('header'); -%>
<p>Admin</p>

<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Type</th>
        <th></th>
        <th></th>
    </tr>

    <% for(let i=0; i < users.length; i++){ %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= users[i].username %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].type %></td>
        <td>
            <a href="/update/<%= users[i].id %>">Update Privileges</a>
        </td>
        <td>
            <form action="/remove/user/<%= users[i].id %>" method="post">
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    <% } %>
    
</table>


<a href="/create">Create New User</a>
<a href="/logout">Logout</a>
<%- include('footer'); -%>