<%- include('header'); -%>

    <body>
        <div id="landing" style="display: grid; grid-auto-flow: row;" class="container">
            <div class="container">
                <a href="/logout">Logout</a><br> <br>
                <h4>Welcome,</h4><br><br>
                <form method="POST" action="/regularSearch">
                    <input class="form-control" type="text" placeholder="Search for a book" name="searchParameter">
                    </input> <br>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form><br><br>
            </div>
            <div style="height: 5em; scroll-behavior: smooth;">
                <% if (typeof books !="undefined" ) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">ISBN</th>
                                <th scope="col">Status</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < books.length; i++ ) { %>

                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= books[i].title %>
                                    </td>
                                    <td>
                                        <%= books[i].author %>
                                    </td>
                                    <td>
                                        <%= books[i].ISBN %>
                                    </td>
                                    <% if(books[i].status===0 ) { %>
                                        <td>
                                            Not Borrowed
                                        </td>
                                        <% }else if(books[i].status===1 ){ %>
                                            <td>
                                                Borrowed

                                            </td>



                                            <%}%>
                                                
                                               


                                <% } %><br>
                        </tbody>
                    </table>
                    <% } %>
                        <% if(typeof msg !='undefined' ){ %>
                            <div class="success-msg" style="color: green;">
                                <%= msg %>
                            </div>

                            <% } %>
            </div>
            <br><br>

    </body>
    <%- include('footer'); -%>